<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CiboCraft</title>
  </head>
  <body>
    <!-- Header Start -->
    <header>
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a href="http://localhost:3000">
              <img src="../public/images/logo.svg" alt="logo" width="180" height="90" />
            </a>
          </div>
          <div class="header__menu">
            <button id="hamburger" name="hamburger" type="button">
              <span class="hamburger-line line-1"></span>
              <span class="hamburger-line line-2"></span>
              <span class="hamburger-line line-3"></span>
            </button>

            <nav id="nav-menu" class="hidden">
              <ul class="nav__list">
                <li class="nav__item"><a href="http://localhost:3000">Home</a></li>
                <li class="nav__item"><a href="#">Favorite</a></li>
                <li class="nav__item"><a href="https://github.com/charlesspasiak">About Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Hero Start -->
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to Delicious Eats</h1>
        <p>Discover the flavors of our world-class cuisine.</p>
        <a href="#" class="btn">View Menu</a>
      </div>
    </section>
    <!-- Hero End -->
  </body>
</html>
