@media (max-width: 440px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
  }
}

@media (max-width: 640px) {
  .nav__list {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    text-align: center;
    transition: 0.3s;
    z-index: 5;
  }

  .nav__list.active {
    left: 0;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-inline: 24px;
  }

  nav > ul > li {
    border-bottom: none;
  }

  #hamburger {
    display: none;
  }

  #nav-menu {
    display: block;
    position: static;
    background-color: transparent;
    max-width: 100%;
    box-shadow: none;
    border-radius: none;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  nav > ul > li > a {
    font-size: 24px;
  }

  .hero {
    height: 341px;
  }

  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 23px;
    margin-bottom: 30px;
  }

  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    padding: 20px 0;
  }

  .restaurant h2 {
    font-size: 40px;
    font-weight: bold;
  }

  #explore {
    padding-top: 120px;
  }

  .restaurant-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    padding: 0;
  }

  .restaurant-card > h3,
  .restaurant-card > rating,
  .restaurant-card > p {
    padding-inline: 15px;
  }

  .restaurant-card img {
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .restaurant-detail__header {
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    column-gap: 20px;
  }

  .image-container img {
    height: 200px;
    border-top-left-radius: 5px;
  }

  .restaurant-detail__header__info__rating {
    margin-top: 0;
  }

  .restaurant-detail__header__info__desc {
    margin-top: 20px;
  }

  .restaurant-detail__content,
  .restaurant-detail__review {
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .restaurant-detail__header__info h2 {
    font-size: 28px;
  }

  .restaurant-detail__content h3,
  .restaurant-detail__review h3 {
    width: fit-content;
    margin-inline: auto;
    padding-inline: 50px;
    font-size: 24px;
  }

  .restaurant-detail__content h4 {
    font-size: 18px;
  }

  .restaurant-detail__review {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-inline: 20px;
  }

  .restaurant-detail__content__menu {
    display: flex;
  }

  .restaurant-detail__content__menu__foods,
  .restaurant-detail__content__menu__drinks {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurant-detail__content__menu__foods {
    border-right: 1px solid #00f700;
  }

  #restaurant {
    padding-inline: 100px;
  }

  .review-box p strong {
    font-size: 18px;
  }

  .restaurant-detail__content__reviews__item__date,
  .restaurant-detail__content__reviews__item__review {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .hero {
    height: 454px;
  }

  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero {
    height: 550px;
  }
}
