@media not all and (min-width: 440px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  #hamburger {
    display: none;
  }

  #nav-menu {
    display: block;
    position: static;
    background-color: transparent;
    max-width: 100%;
    box-shadow: none;
    border-radius: none;
  }

  .nav__list {
    display: flex;
    column-gap: 34px;
  }

  nav > ul > li > a {
    padding: 0;
    font-size: 24px;
  }

  .hero {
    height: 341px;
  }

  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 23px;
    margin-bottom: 30px;
  }

  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .hero {
    height: 454px;
  }

  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero {
    height: 550px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
